<ion-header class="ion-no-border" >
  <ion-toolbar
  class="ion-padding" >
    <ion-buttons slot="start">
    <ion-back-button 
          defaultHref="/"
          text="Back"
          color="success"
          mode="ios">
        </ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-avatar>
           <ion-img src="/assets/windows.png"></ion-img>
        </ion-avatar>
      </ion-buttons>
    <ion-title class="titulo"> Instalar Windows 10 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo1"> Formatear Windows 10 💻🔥</ion-card-subtitle>
      <ion-card-title class="titulo1"> Cómo INSTALAR WINDOWS 10 desde USB </ion-card-title>
    </ion-card-header>

    <ion-card-content  class="ion-padding contenido">
      <p>¿Quieres instalar Windows 10 en tu ordenador? En esta guía te explicamos cómo activar y descargar Windows 10 gratis en tu PC.</p>
      <br>  
      <ion-img src="assets/imagendedisco.jpg"></ion-img>
    </ion-card-content>
    <ion-card-content>
      <p>Primer paso si queremos Windows 10 en el PC: descargar su instalador. En la actualidad, puedes descargar Windows 10 gratis directamente desde la página oficial de Microsoft. El archivo que te proporcionan –una imagen de disco– contiene todo lo necesario para reinstalar el sistema en tu ordenador.</p>
    <ion-card>
      <ion-item href="https://www.microsoft.com/es-es/software-download/windows10ISO" target="_blank">
        <ion-icon name="logo-windows" slot="start"></ion-icon>
        <ion-label> Descargar Windows 10 </ion-label>
        </ion-item>
      </ion-card>
          <p>No requiere registro. Tampoco necesitas indicar un código. Simplemente necesitas una conexión a internet que te permita descargar la imagen de disco de Windows y espacio suficiente en disco para guardar esa imagen. Necesitarás, eso sí, 5 GB de espacio. La imagen puedes guardarla en tu PC, en un disco externo, en un dispositivo USB o incluso en un DVD.</p>
          <p>Cuando vayas a descargar Windows 10 gratis desde la página que te hemos indicado, tan sólo tendrás que seleccionar una edición. Curiosamente, solo hay una opción a elegir, pero Microsoft nos obliga a hacer ese paso manualmente. Finalmente, pulsa en Confirmar.</p>
          <p>Al terminar, verás dos botones para descargar Windows 10 gratis: la versión de 32 bits y la de 64 bits.</p>
          <br>
          <p>¿Cómo saber qué versión es la que le conviene a tu PC?</p>
          <p>Si tu ordenador es nuevo, seguramente el procesador sea de 64 bits. Si tiene más de cinco años, tal vez sea de 32 bits. Pero, para saberlo del todo, tendrás que ir al menú Inicio, hacer clic derecho en Equipo y luego pulsar en Propiedades. Allí te dirá si tu versión de Windows es de 32 o 64 bits.</p>
          <p>Tras descargar Windows 10, conviene saber si tu ordenador es compatible con esta versión del sistema operativo. Este paso es clave antes de proceder a instalar Windows 10 en tu PC. Normalmente, esto no debería ser un problema si ya tienes Windows 10 instalado o si utilizas una versión anterior como Windows 8 o Windows 7. Pero no está de más comprobarlo.</p>
    </ion-card-content>  

    <ion-card-content>
    <ion-card-title class="titulo1"> Requisitos para instalar Windows 10 </ion-card-title>
    <br>      
          <p>Los requisitos para instalar Windows 10 son:</p>
          <p>Procesador (CPU): 1 GHz o más</p>
          <p>RAM: 1 GB (CPU de 32 bits) o 2 GB (CPU de 64 bits)</p>
          <p>Espacio en disco: 16 GB (CPU de 32 bits) o 32 GB (CPU de 64 bits)</p>
          <p>Tarjeta gráfica: compatible con DirectX 9 o superior con WDDM 1.0</p>
          <p>Pantalla: al menos 800x600 de resolución</p>
          <p>Conexión a internet: para descargar actualizaciones y otras funciones recurrentes</p>
          <p>Si tu PC cumple o supera estos requisitos, puedes estar tranquilo. Windows 10 debería funcionar sin problemas en ese equipo. Ahora continuemos con la instalación.</p>
    </ion-card-content>

    <ion-card-content>      
    <ion-card-title class="titulo1"> Cómo instalar Windows 10 desde cero </ion-card-title>
    <br>
      <ion-img src="assets/InstalarWindows10.jpg"></ion-img>
    <br>
          <p>La imagen de disco que has obtenido al descargar Windows 10 gratis desde la web de Microsoft permite dos opciones: crear un disco de arranque o ejecutar directamente el instalador en Windows.En ambos casos, podrás hacer una actualización del sistema –manteniendo los archivos y las configuraciones previas– o, si lo deseamos, proceder con una instalación desde cero.</p>
          <p>Si decides instalar Windows 10 desde cero, debes saber que todos los datos del disco duro serán eliminados.</p>
          <p>Por lo tanto, es recomendable hacer una copia de seguridad previa de los archivos, documentos y configuraciones que haya en ese momento en el disco principal de tu ordenador.</p>
          <p>Con la imagen de disco que hemos descargado también puedes preparar un DVD o USB para instalar Windows 10 en el mismo ordenador o en otras computadoras cuantas veces necesites.</p>
          <p>También puedes usarla para instalar Windows 10 en una máquina virtual. No existe ningún problema. Puedes descargar Windows 10 gratis e instalar el sistema tantas veces como quieras. Tarde o temprano, eso sí, tendrás que adquirir una licencia o clave de producto para activar Windows 10.</p>
          
  </ion-card-content>
  </ion-card>
</ion-content>
