<ion-header>
  <ion-toolbar
  class="ion-padding">
  <ion-buttons slot="start">
  <ion-back-button 
        defaultHref="/"
        text="Back"
        color="success"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/limpiarpc.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  <ion-title> Limpiar un PC </ion-title>
</ion-toolbar>
</ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="subtitulo1"> Deja limpio tu PC 💻🔥</ion-card-subtitle>
        <ion-card-title class="titulo1"> Cómo limpiar tu PC</ion-card-title>
      </ion-card-header>
  
      <ion-card-content  class="ion-padding contenido">
        <p>En este tutorial veremos veremos como hacer una limpieza periodica a tu Computador. Los materiales que consideramos necesarios son:</p>
        <p>-Desatornilladores </p>
        <p>-Alcohol Isopropilico </p>
        <p>-brocha(Idealmente antiestática)</p>
        <p>-Paños</p>
        <p>-Pasta térmica(si es que se le da mantenimiento al cpu, como en este caso)</p>
      <br>
      <ion-card class="imgpc">
        <ion-img src="assets/1.jpeg"></ion-img>
      </ion-card>
      
      </ion-card-content>
      

      <ion-card-content  class="ion-padding contenido">  
        
        <p>Procedemos a abrir nuestra máquina, en algunos casos es solo una tapa de plastico, en otros, vidrio templado(nuestro caso).</p>

        <ion-card class="imgpc">

          <ion-img src="assets/2.jpeg"></ion-img>
      
        </ion-card>

        <p>Una vez abierto, procederemos a desconectar todos y cada uno de los cables, para luego retirar los componentes y así, hacer mas facil el limpiarlos.</p>
      
      <ion-card class="imgpc">
        <ion-img src="assets/3.jpeg"></ion-img>
      </ion-card>

        <p>Para sacar el disipador del cpu, solo tenemos que mover estas piezas de plástico hacia donde indican las flechas y luego jalar todo el disipador hacia afuera.</p>

      <ion-card class="imgpc">

        <ion-img src="assets/4.jpeg"></ion-img>

      </ion-card>

        <p>Procedemos a quitar el cpu de la placa y con un paño untado en alcohol isopropilico limpiamos hasta quitar TODA la pasta térmica. Lo volvemos a colocar en su lugar.</p>
 
      <ion-card class="imgpc">
        <ion-img  src="assets/5.jpeg"></ion-img>
      </ion-card>
        <p>Procedemos a quitar el cpu de la placa y con un paño untado en alcohol isopropilico limpiamos hasta quitar TODA la pasta térmica. Lo volvemos a colocar en su lugar.</p>
        <p> Lo siguente es limpiar todos los componentes que hemos retirado de la placa, y esta última tambien.</p>
        <p>De esto:</p>

        <ion-card class="contenedor-imagenes">
          
          <ion-img style="width: 300px; height: 300px; " src="assets/6.jpeg"></ion-img>
          <ion-img style="width: 300px; height: 300px; " src="assets/7.jpeg"></ion-img>
          <ion-img style="width: 300px; height: 300px; " src="assets/8.jpeg"></ion-img>
          <ion-img style="width: 300px; height: 300px; " src="assets/9.jpeg"></ion-img>
        
      </ion-card>

        <p>A esto:</p>

      <ion-card class="contenedor-imagenes">
          
        <ion-img style="width: 300px; height: 300px; " src="assets/10.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/11.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/12.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/13.jpeg"></ion-img>

      </ion-card>

        <p>Lo siguente es aplicar la pasta térmica en el cpu, y hay mucho mito con la forma de aplicar esta misma, la que recomendamos</p>
        <p> y usamos en este tutorial es la que es coloquialmente conocida como "La caca de paloma" que consiste en formar un tipo judía</p>
        <p>al centro del cpu:</p>
        
      <ion-card class="imgpc">
        <ion-img  src="assets/14.jpeg"></ion-img>
      </ion-card>
    

        <p>Ahora todo listo solo tenemos que volver a colocar el disipador en su lugar.</p>
        <p>Terminado esto lo que nos queda sería volver a colocar, atornillar y conectar todos los componentes.</p>
        <p>Limpiar todo el resto del gabinete(la parte plastica). y devolver el vidrio templado a su lugar.</p>
      
      <ion-card class="contenedor-imagenes">
          
        <ion-img style="width: 300px; height: 300px; " src="assets/15.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/16.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/17.jpeg"></ion-img>
        <ion-img style="width: 300px; height: 300px; " src="assets/18.jpeg"></ion-img>
      </ion-card>

  </ion-card-content>
    </ion-card>
</ion-content>
